<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Git Quiz</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>

    
    <header>
        <a href="quizzes.html" class="home-logo">
            <span><img src="icons8-git-48.png" class="logo">Git Quizzes</span>
        </a>
        <nav class="navbar">
            <ul id="menuList">
                <li><a href="quizzes.html" id="home-link">Home</a></li>
                <li><a href="about.html" id="about-link">About</a></li>
                <li><a href="team.html" id="team-link">Team</a></li>
                <li><a href="sources.html" id="contact-link">Sources</a></li>
                <li><a href="contact.html" id="contact-link">Contact</a></li>
            </ul>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
            
            
        </nav>
    </header>



    <section class="about-section">
        <h1>About Git Quiz</h1>
        <p>Welcome to Git Quiz, a platform designed to test your knowledge of Git, the most widely used version control system in software development.</p>
        
        <h2>About Git</h2>
        <p>Git is a distributed version control system that enables developers to track changes in their codebase, collaborate with others, and manage software development projects efficiently.</p>
        
        <h2>Importance in Software Development</h2>
        <p>Git plays a crucial role in modern software development workflows. It facilitates collaboration among team members, ensures code integrity, enables experimentation with new features in isolated branches, and provides a reliable mechanism for code deployment and rollback.</p>
        
        <h2>Why It's Relevant to Your Quiz</h2>
        <p>Git Quiz aims to test your understanding of Git concepts, commands, and best practices. By participating in the quiz, you'll have the opportunity to assess your knowledge, identify areas for improvement, and enhance your proficiency in using Git for version control.</p>
        
        <h2>Quiz Structure and Format</h2>
        <p>The Git Quiz consists of multiple-choice questions covering a wide range of topics related to Git. Each question presents a scenario or concept, followed by several answer options.</p>
        <p>Your task is to select the correct answer based on your knowledge of Git principles and practices.</p>
        
        <h2>Types of Questions</h2>
        <p>The quiz includes questions on various aspects of Git, including:</p>
        <ul>
            <li>Basic Git commands</li>
            <li>Branching and merging strategies</li>
            <li>Resolving conflicts</li>
            <li>Git workflows</li>
            <li>Advanced Git concepts</li>
            <li>Best practices for using Git</li>
        </ul>
       
    </section>


<footer>
    <div class="bottom-bar">
        <p>&copy; 2024 Git Quizzes. All rights reserved</p>
    </div>
</footer>
<script src="../questions.js"></script>
<script src="../menuicon.js"></script>
<script src="https://kit.fontawesome.com/7ce1441864.js" crossorigin="anonymous"></script>
</body>
</html>
