<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Quizzes - Home</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <header>
        <a href="quizzes.html" class="home-logo">
            <span><img src="icons8-git-48.png" class="logo">Git Quizzes</span>
        </a>
        <nav class="navbar">
            <ul id="menuList">
                <li><a href="quizzes.html" id="home-link">Home</a></li>
                <li><a href="about.html" id="about-link">About</a></li>
                <li><a href="team.html" id="team-link">Team</a></li>
                <li><a href="sources.html" id="sources-link">Sources</a></li>
                <li><a href="contact.html" id="contact-link">Contact</a></li>
            </ul>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
            
            
        </nav>
    </header>

    <main>
        <section class="welcome-section">
            <h1>Welcome to Git Quizzes</h1>
            <br>
            <p><b>Master Git and version control with our interactive quizzes!</b></p>
            <br><br>
        </section>

        <section class="main-content">
            <h3>Why Learn Git?</h3>
            <p>Git is a powerful version control system used by developers worldwide to manage project versions, collaborate with others, and track changes efficiently. By learning Git, you can:</p>
            <br>
            <ul>
                <li>Efficiently manage your project's source code.</li>
                <li>Collaborate seamlessly with team members.</li>
                <li>Track changes and revert to previous versions when needed.</li>
                <li>Improve your workflow and productivity as a developer.</li>
            </ul>
            <br>
            <div class="centered-content">
            <p><b>Let's learn about Git!</b></p>
            <a href="mainpage.html" class="Start-btn">Start Quiz</a>
            </div>
        </section>
    </main>
        <footer>
            <div class="bottom-bar">
                <p>&copy; 2024 Git Quizzes. All rights reserved</p>
            </div>
        </footer>    
    <script src="../questions.js"></script>
    <script src="../menuicon.js"></script>
    <script src="../startbutton.js"></script>
    <script src="https://kit.fontawesome.com/7ce1441864.js" crossorigin="anonymous"></script>


</body>
</html>
