<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Quizzes - Home</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <header>
        <a href="quizzes.html" class="home-logo">
            <span><img src="icons8-git-48.png" class="logo">Git Quizzes</span>
        </a>
        <nav class="navbar">
            <ul id="menuList">
                <li><a href="quizzes.html" id="home-link">Home</a></li>
                <li><a href="about.html" id="about-link">About</a></li>
                <li><a href="team.html" id="team-link">Team</a></li>
                <li><a href="sources.html" id="sources-link">Sources</a></li>
                <li><a href="contact.html" id="contact-link">Contact</a></li>
            </ul>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
            
            
        </nav>
    </header>
    <section id="sources" class="sources-section">
    <h2>Sources</h2><br>
    
    <ul>
        
            <strong>Source 1: Git Book</strong>
            <br>
            "Git Notes for Professionals" is your go-to resource for mastering Git, the popular version control system. <br> This concise yet comprehensive guide covers everything from the basics of Git to advanced workflows and collaboration strategies.<br> Learn how to manage repositories, handle branches, resolve conflicts, and streamline your development process with real-world examples and best practices.<br> Whether you're a beginner or an experienced developer, "Git Notes for Professionals" will help you become proficient in Git and take your projects to the next level.
            <br>
            <div class="contact-links">
            <a href="https://drive.google.com/file/d/1-sLJ4L8AF3Z2fYUO6K_1ZwfWzfWt8Bi9/view?usp=drive_link" target="_blank"><i class="ri-search-2-line"></i> Explore</a>
            </div>
        
        
           <br> <strong>Source 2: Course</strong>
            <br>
            This Course  is a concise yet comprehensive course designed to equip developers with the essential skills needed to master Git.<br> From the basics of repository management to advanced workflows and collaboration strategies, this hands-on course provides a structured learning experience tailored to your needs.<br> By the end of the course, you'll have the confidence and proficiency to leverage Git effectively in your projects, increasing productivity and collaboration.
            <br>
            <div class="contact-links">
            <a href="https://www.youtube.com/watch?v=vMdSqMf6BPY&list=PL_euSNU_eLbegnt7aR8I1gXfLhKZbxnYX&index=1" target="_blank"><i class="ri-search-2-line"></i> Explore</a>
            </div>
    </ul>
    </section>

    <footer>
        <div class="bottom-bar">
            <p>&copy; 2024 Git Quizzes. All rights reserved</p>
        </div>
    </footer>    
<script src="../questions.js"></script>
<script src="../menuicon.js"></script>
<script src="../startbutton.js"></script>
<script src="https://kit.fontawesome.com/7ce1441864.js" crossorigin="anonymous"></script>


</body>
</html>
