<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Quizzes - Team</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <header>
        <a href="quizzes.html" class="home-logo">
            <span><img src="icons8-git-48.png" class="logo">Git Quizzes</span>
        </a>
        <nav class="navbar">
            <ul id="menuList">
                <li><a href="quizzes.html" id="home-link">Home</a></li>
                <li><a href="about.html" id="about-link">About</a></li>
                <li><a href="team.html" id="team-link">Team</a></li>
                <li><a href="sources.html" id="contact-link">Sources</a></li>
                <li><a href="contact.html" id="contact-link">Contact</a></li>
            </ul>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
            
            
        </nav>
    </header>

    
        <section id="team" class="team-section">
            <h2>Meet the Team</h2>
            <div class="team-member">
                <h3>Laghrabi Chaimaa</h3>
                <p>Founder and Developer</p>
                <p>I am the founder and sole developer of Git Quizzes. With a passion for software development and version control using Git, I created this website to help others learn Git in an interactive and engaging way.</p>
                <p>Having experience in both frontend and backend development, I have designed and developed the quiz content and the website itself.</p>
                <p>If you have any questions, feedback, or collaboration opportunities, feel free to reach out to me!</p>
                <div class="contact-links">
                    <a href="mailto:laghrabichaimae@gmail.com"><i class="ri-mail-fill"></i> Email</a>
                    <a href="https://www.linkedin.com/in/chaimaa-laghrabi-585309271/" target="_blank"><i class="ri-linkedin-box-fill"></i> LinkedIn</a>
                    <a href="https://github.com/Laghrabi" target="_blank"><i class="ri-github-fill"></i> GitHub</a>
                </div>
            </div>
        </section>
    

    <footer>
        <div class="bottom-bar">
            <p>&copy; 2024 Git Quizzes. All rights reserved.</p>
        </div>
    </footer>
    <script src="../questions.js"></script>
    <script src="../menuicon.js"></script>
    <script src="../startbutton.js"></script>
    <script src="https://kit.fontawesome.com/7ce1441864.js" crossorigin="anonymous"></script>
</body>
</html>
