<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Git Quiz</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>

    
    <header>
        <a href="quizzes.html" class="home-logo">
            <span><img src="icons8-git-48.png" class="logo">Git Quizzes</span>
        </a>
        <nav class="navbar">
            <ul id="menuList">
                <li><a href="quizzes.html" id="home-link">Home</a></li>
                <li><a href="about.html" id="about-link">About</a></li>
                <li><a href="team.html" id="team-link">Team</a></li>
                <li><a href="sources.html" id="contact-link">Sources</a></li>
                <li><a href="#contact" id="contact-link">Contact</a></li>
            </ul>
            <div class="menu-icon">
                <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            </div>
            
            
        </nav>
    </header>
    <div class="container">
        <h2>Thank You for Your Feedback!</h2>
        <br><p>We wanted to take a moment to express our sincere gratitude for providing us with your valuable feedback.</p>
            <p>Feedback from users like you is incredibly important to us as it helps us understand what we're doing well and where we can improve. Your insights enable us to make enhancements that ultimately benefit our entire community.</p>
            <p>Rest assured that we take every comment, suggestion, and critique to heart. We carefully review each piece of feedback and use it to shape the future of our products and services.</p>
            <p>Should you have any further thoughts or ideas you'd like to share, please don't hesitate to reach out. We're always eager to hear from our users and are committed to continually improving your experience.</p>
            <p>Once again, thank you for taking the time to provide your feedback. We truly appreciate your support and look forward to serving you better in the future!</p>
        <div class="contact-links">
            <a href="mailto:laghrabichaimae@gmail.com"><i class="ri-mail-fill"></i> Email</a>
            <a href="https://www.linkedin.com/in/chaimaa-laghrabi-585309271/" target="_blank"><i class="ri-linkedin-box-fill"></i> LinkedIn</a>
            <a href="https://github.com/Laghrabi" target="_blank"><i class="ri-github-fill"></i> GitHub</a>
        </div>
    </div>
        <footer>
            <div class="bottom-bar">
                <p>&copy; 2024 Git Quizzes. All rights reserved.</p>
            </div>
        </footer>

        <script src="../questions.js"></script>
    <script src="../menuicon.js"></script>
    <script src="../startbutton.js"></script>
    <script src="https://kit.fontawesome.com/7ce1441864.js" crossorigin="anonymous"></script>


</body>
</html>